/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.vimium-like-link-overlay {
    position: absolute;
    /* background-color: var(--background-modifier-accent, yellow); */
    /* color: var(--text-on-accent, black); */
    background-color: var(--color-yellow); 
    color: black; 
    border: 1px solid #000; /* Black border */
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.8em;
    z-index: 100;
    /* Additional styling as needed */
}

.new-tab-overlay {
    background-color: var(--color-orange); 
}

.markdown-preview-view {
    scroll-behavior: smooth;
}

.default-link-overlay {
    background-color: #f0f0f0; /* Light grey background */
    color: black;
    border: 1px solid #000; /* Black border */
}

