/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.vimium-like-link-overlay {
    position: absolute;
    /* background-color: var(--background-modifier-accent, yellow); */
    /* color: var(--text-on-accent, black); */
    background-color: var(--color-yellow); 
    color: black; 
    border: 1px solid #000; /* Black border */
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.8em;
    z-index: 100;
    /* Additional styling as needed */
}

.new-tab-overlay {
    background-color: var(--color-orange); 
}

.markdown-preview-view {
    scroll-behavior: smooth;
}

.default-link-overlay {
    background-color: #f0f0f0; /* Light grey background */
    color: black;
    border: 1px solid #000; /* Black border */
}

.navigator-filter-box {
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 8px;
  left: 35px;
  bottom: 10px;
  display: none;
  width: auto;
  height: auto;
  z-index: 100;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
  font-size: 0.9em;
  border: 1px solid #000;
}

